@import '../../../css/typography';
@import '../../../css/buttons';

SegmentedBar {
    &.main {
        margin-top: 20;
        selected-background-color:#7332D6;
    }
    margin-left: 20;
    margin-right: 20;
    selected-background-color:#444D54;
    color: #444D54;
}

.btn {
    &-location {
        background-color: #7332D6;
        color: #fff;
        width: 30;
        height: 30;
        border-top-left-radius: 4;
        border-bottom-left-radius: 4;
        horizontal-align:right;
    }
    &-breed {
        text-align: center;
        margin-right: 20;
        background-color: #eee;
        width: 30;
        height: 30;
        horizontal-align: right;
        color: #444D54;
    }
    &-search {
        margin: 40 20 0 20;
    }
}

.input {
    &-location {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
        &.error {
            border-color: #e53935;
            placeholder-color: #e53935;
            border-left-width: 0;
        }
    }
}

.form {
    &-label {
        @extend .black;
        margin-left: 20;
        padding: 10 0;
        text-transform: uppercase;
        color: #444D54;
        font-size: 10;
        &.bold {
            @extend .semi-bold;
        }
        &.border-top {
            border-top-width: 1;
            border-top-color: #eee;
            padding-top: 20;
            margin-right: 20;
            margin-top: 20;
        }
    }
}

TextField {
    border-color: #eee;
    border-width: 1;
    border-radius: 4;
    padding: 0 15;
    margin: 0 20;
    height: 30;
    @extend .normal;
}
