<GridLayout [row]="row" columns="*, *, *, *" class="navbar" alignItems="center" justifyContent="space-between">
    <petfinder-navbar-item icon="paw" [link]="['/home']"></petfinder-navbar-item>
    <!-- <petfinder-navbar-item icon="cog" [link]="['/settings']"></petfinder-navbar-item> -->
    <petfinder-navbar-item icon="star" [link]="['/settings']" col="1"></petfinder-navbar-item>
    <petfinder-navbar-item icon="flag" [link]="['/settings']" col="2">
        <petfinder-notification-bubble></petfinder-notification-bubble>
    </petfinder-navbar-item>
    <petfinder-navbar-item icon="user" [link]="['/profile']" col="3"></petfinder-navbar-item>
</GridLayout>
