<GridLayout [row]="row" columns="*, *, *, *" class="navbar" alignItems="center" justifyContent="space-between">
    <petfinder-navbar-item icon="paw" [link]="['/home']" label="Discover"></petfinder-navbar-item>
    <petfinder-navbar-item icon="heart-pulse" [link]="['/matches']" label="Matches" col="1">
        <petfinder-notification-bubble
            [link]="['/matches']"
            [count]="matchCount$ | async"></petfinder-notification-bubble>
    </petfinder-navbar-item>
    <petfinder-navbar-item icon="magnifier" [link]="['/search']" label="Search" col="2"></petfinder-navbar-item>
    <petfinder-navbar-item icon="user" [link]="['/profile']" label="Profile" col="3"></petfinder-navbar-item>
</GridLayout>
