<GridLayout columns="100, *, 100" verticalAlignment="bottom" [row]="row" class="selector">
    <petfinder-circle-btn [col]="0"
        (onTap)="onDisliked()"
        type="danger"
        icon="redo"></petfinder-circle-btn>
    <Label col="0" class="label-btn" text="Skip"></Label>
    <StackLayout col="1" class="name-container">
        <Label class="name" [text]="pet.name"></Label>
        <Label>
            <FormattedString>
                <Span [text]="pet.age"></Span>
                <Span text=" / "></Span>
                <Span [text]="pet.sex"></Span>
            </FormattedString>
        </Label>
    </StackLayout>
    <petfinder-circle-btn [col]="2"
        (onTap)="onLiked()"
        type="success"
        icon="heart"></petfinder-circle-btn>
    <Label col="2" class="label-btn" text="Love"></Label>
</GridLayout>
