.selector {
    padding-bottom: 20;
    background-color: #fff;
}

.name-container {
    text-align:center;
    padding-top:10;
    .name {
        font-weight: bold;
    }
}

.label-btn {
    text-align:center;
    font-weight:bold;
    font-size:12;
    margin-top:80;
}
