<GridLayout rows="60, 40, *" class="page" height="100%">
    <GridLayout columns="100, *, 100" class="action-bar">
        <Button (tap)="dismiss()"
            text="Cancel"></Button>
        <Label col="1" class="title" text="Select Breed"></Label>
        <Button col="2"
            (tap)="dismiss()"
            text="Done"></Button>
    </GridLayout>
    <SearchBar row="1"
        hint="Search..."
        [text]="searchPhrase"
        (textChange)="onSearch($event)"></SearchBar>
    <RadListView row="2" #breedListView
        [visibility]="hasResults ? 'visible' : 'collapse'"
        height="100%"
        width="100%"
        [items]="items">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout row="0">
                <Label class="list-group"
                [text]="item.title"></Label>
                <Label class="list-item" #label [class.active]="breed === selectedBreed"
                (tap)="animatePress(label, breed)"
                *ngFor="let breed of item.breeds"
                [text]="breed"></Label>
            </StackLayout>
        </ng-template>
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewStaggeredLayout>
    </RadListView>
    <Label row="2" *ngIf="!hasResults" class="placeholder label"
        text="No results"></Label>
    <Label row="2" *ngIf="!hasResults" class="placeholder icon"
        lnr="paw"></Label>
    <Label row="2" height="40" [visibility]="currentOffset > 0 && hasResults ? 'visible' : 'collapse'"
        verticalAlignment="top"
        class="list-group" [text]="currentTitle">
    </Label>
</GridLayout>
